<!-- Sidebar start -->
<div class="nk-sidebar">
    <div class="nk-nav-scroll">
        <li class="nav-label">Apps</li>

        <ul class="metismenu" id="menu">
            <li>
                <a href="/view/backend/user/list.html" aria-expanded="false" class="active">
                    <i class="icon-user menu-icon"></i><span class="nav-text">用户管理</span>
                </a>
            </li>
            <li>
                <a href="/view/backend/goods/list.html" aria-expanded="false" class="active">
                    <i class="icon-bag menu-icon"></i><span class="nav-text">商品管理</span>
                </a>
            </li>

        </ul>
    </div>
</div>
<!-- Sidebar end -->
