<!-- Sidebar start -->
<div class="nk-sidebar">
    <div class="nk-nav-scroll">
        <li class="nav-label">Apps</li>

        <ul class="metismenu" id="menu">
            <li>
                <a href="javascript:void(0)" aria-expanded="false" class="has-arrow">
                    <i class="icon-speedometer menu-icon"></i><span class="nav-text">控制面板</span>
                </a>
                <ul aria-expanded="false">
                    <li>
                        <a href="/view/backend/user/list.html">
                            <i class="icon-user"></i><span class="nav-text">用户管理</span>
                        </a>
                    </li>
                    <li>
                        <a href="/view/backend/goods/list.html">
                            <i class="icon-bag"></i><span class="nav-text">商品管理</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
<!-- Sidebar end -->
